<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>object study</title>
</head>
<body>
<div class="navbar">
  <a href="/chapter1/verse1" class="verse-link">verse 1</a>
</div>
<div class="title">
  <h2>Enter Success</h2>
</div>
</body>
</html>

<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    .title {
        text-align: center;
        margin: 40px 0;
    }

    .navbar {
          background-color: #333;
          padding: 10px;
      }

    .verse-link{
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        color: white;
        margin: 0 10px;
    }

</style>